.search1 {
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
    padding: 30px;
    margin-left: 270px;
    background-color: #fff;
    
    /* background: rgba(255, 255, 255, 0.15); */
    /* box-shadow: 0 8px 32px 0 rgba(245, 13, 91, 0.37); */
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .png1{
    background-image: url("C:\Users\hp\minipro\src\Picsart_23-07-11_15-03-59-817.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90px;
    height: 90px;

}
  .mtop1{
    background-image: url("C:\Users\hp\Downloads\background3.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .main1{
    margin-left: 200px;
    /* padding-right: 50px; */
    height: 500px;
    padding-top: 100px;
    
  }
  
  .hea{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eef0f3;
    padding-right: 300px;
    padding-bottom: 50px;
   
  }
  .search-field1 {
    margin-right: 10px;
    padding: 5px;
    height: 50px;
  }
  
  .search-button1{
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-button1:hover {
    background-color: #555;
  }
  .nav1{
    padding-bottom: 70px;
    height: 100px;
   width: 100%; 
}
.na1{
    padding: 14px 16px;
    padding-bottom: 300px;
    /* position: fixed; */
}
.sign1{
    padding-left: 500px;
}
.create1{
    padding-left: 50px;
}

.navbar1 {
    background-color: #333;
    padding: 10px;

  }
  
  .nav-list1 {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10;
    padding: 0;
  }
  
  .nav-item1 {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }