@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.top1{
    background-image: url("C:\Users\hp\Downloads\background5.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
}
.topic{
    margin-left: 28vw;
    flex-direction: left;
    margin-top: 250px;
    font-size: 30px;
    color:rgb(107, 178, 240);
}
.glassmorphism {
    width: 450px;
    height: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    /* box-shadow: 0 8px 32px 0 rgba(245, 13, 91, 0.37); */
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
.topic2{
    margin-left: -5vw;
    margin-top: 350px;
    flex:left;
    font-size: 30px;
    color:rgb(132, 208, 252);
}
.box{
    padding-top: 20px;
    flex:right;
    width: 450px;
    height: 500px;
    border-radius: 2%;
    color: rgb(107, 178, 240);
    background-size: cover;
    box-shadow: rgb(7, 21, 36) 0px 20px 30px -10px;
    font-family: cursive;
}
.row1{
    color:rgb(112, 119, 245);
    font-size: larger;
    font-family: cursive;
    color: rgb(8, 131, 238);
}
input{
    border-color: rgb(106, 117, 242);
    width: 250px;
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(78, 96, 227);
}
button{
    width: 75px;
    height: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(46, 69, 217);
    color:black;

}
/* button:hover:not(.active){
    width: 75px;
    height: 30px;
    background-color: rgb(251, 250, 249);
    font-family: cursive;
    color: rgb(56, 68, 243);
} */