.signup-page {
    display: flex;
    height: 100vh;
  }
  
  .signup1-page {
    display: flex;
    width:50%;
    justify-content: center;
    padding-left: 700px;
    align-items: center;
    /* padding-left: 400px; */
    /* height: 100vh;
    background-color: #7f7c7c3a; */
  }
  
  .signup-container {
    background: rgba(236, 218, 218, 0.32);
    /* box-shadow: 0 8px 32px 0 rgba(245, 13, 91, 0.37); */
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 30px;
    height:620px;
    width: 360px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    text-align: center;
    /* padding-left: 400px; */
  }
  
  
  .signupinput {
    display: block;
    width: 70%;
    padding: 8px;
    margin-top: 7px;
    margin-left: 50px;
    margin-bottom: -10px ;
    border: 2px solid #4b45457e;
    border-radius: 8px;
    font-size: 14px;
    /* padding-left: 400px; */
  }

  .ab1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 7px;

  }

  .a1{
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    font-weight: 500;
  }
  
  .signupbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    width:120px;
    cursor: pointer;
  }
  
  .signupbutton:hover {
    background-color: #0056b3;
  }
  
  .logo1{
    background-image: url("C:\Users\hp\minipro\src\Picsart_23-07-11_15-03-59-817.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size:contain;
    /* height:100px; */
    width:50px;
    padding-left:400px;
    background-color: #0056b3;
  }
 
  .b1{
    color: #0d00ff;
    padding-top: 50px;
    margin-left: -90px;
  }
  
  .create1{
    margin-top: -43px;
    margin-left: 100px;
    text-align: center;
    color: aqua;
  }
  

  a:link,a:visited{
    color:white;
    text-decoration: none;
  }